.uno {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 600px;
    height: 150px;
    display: inline-block;
  }
.dos{
    background-color: rgb(84, 89, 92);
    border: 1px solid;
}
.tres{
    background-color: rgb(162, 190, 126);
    border: 1px solid;
}
.cuatro{
    background-color: rgb(116, 189, 189);
    border: 1px solid;
}
.cinco{
    background-color: rgb(43, 168, 209);
    border: 1px solid;
}   
